initialize() {
	initializeMutationRate(1e-7);
	initializeMutationType("m1", 0.5, "f", 0.0);
	initializeGenomicElementType("g1", m1, 1.0);
	initializeGenomicElement(g1, 0, 99999);
	initializeRecombinationRate(1e-8);
}
1 early() { 
	sim.addSubpop("p1", 500);
	sim.addSubpop("p2", 500);
 }
10000 early() { 
sim.addSubpopSplit("p3", 200, p1);
p3.setMigrationRates(p2, 1);
 }
20000 late() { 
g_p1=p1.sampleIndividuals(20);
g_p2=p2.sampleIndividuals(20);
g_p3=p3.sampleIndividuals(20);
g=c(g_p1,g_p2,g_p3);
g.outputIndividualsToVCF("04_slim_output.vcf");
}
